In [3]:
x = 32
if x > 30:
    print ("Yess")
else:
    print("No")

Yess

In [11]:
def compare_to_five (y):
    if y > 5:
        return "Greater"
    elif y < 0:
        return "Negative"
    elif y < 5:
        return "Less"
    else:
        return "Equal"

In [12]:
print(compare_to_five(-5))

Negative

In [13]:
print(compare_to_five(3))

Less

In [17]:
def plus_1(a):
    result = a + 10
    return result

In [18]:
plus_1(54)

64

In [21]:
def add_10(a):
    return a + 10

In [23]:
add_10(55)

65

In [29]:
def wage(w_hours):
    return w_hours * 25
def with_bonus(w_hours):
    return wage(w_hours) + 50

In [30]:
wage(8), with_bonus(8)

(200, 250)

In [31]:
def addition (m):
    if m >= 100:
        m = 10 + m
        return m
    else:
        return "Save More!"

In [33]:
addition (150)

160

In [35]:
addition (90)

'Save More!'

In [38]:
def sub(a,b,c):
    result = a - c*b
    print("Parameter a equals", a)
    print("Parameter b equals", b)
    print("Parameter c equals", c)
    return result

In [39]:
sub (10,3,6)

Parameter a equals 10
Parameter b equals 3
Parameter c equals 6

-8

In [66]:
participants = ["John", "James", "Peter", "Cate"]
participants

['John', 'James', 'Peter', 'Cate']

In [67]:
print (paticipants[1])

James

In [68]:
print (paticipants[-1])

Mercy

In [69]:
participants[3] = "Mercy"
participants

['John', 'James', 'Peter', 'Mercy']

In [70]:
del participants[2]
participants

['John', 'James', 'Mercy']

In [71]:
participants.append("Josh")
participants

['John', 'James', 'Mercy', 'Josh']

In [72]:
participants.extend(['George' , 'Mary'])
participants

['John', 'James', 'Mercy', 'Josh', 'George', 'Mary']

In [73]:
participants[1:5]

['James', 'Mercy', 'Josh', 'George']

In [74]:
participants[:5]

['John', 'James', 'Mercy', 'Josh', 'George']

In [75]:
participants[4:]

['George', 'Mary']

In [77]:
participants[-2:]

['George', 'Mary']

In [85]:
newcomers = ["Morris", "Antony"]
newcomers

['Morris', 'Antony']

In [86]:
Updated_list = [participants, newcomers]
Updated_list

[['John', 'James', 'Mercy', 'Josh', 'George', 'Mary'], ['Morris', 'Antony']]

In [88]:
participants.sort()
participants

['George', 'James', 'John', 'Josh', 'Mary', 'Mercy']

In [89]:
participants.sort(reverse = True)
participants

['Mercy', 'Mary', 'Josh', 'John', 'James', 'George']

In [90]:
y=40,42,43
y

(40, 42, 43)

In [91]:
z=51,52,53
z

(51, 52, 53)

In [94]:
tuple_list=[y,z]
tuple_list

[(40, 42, 43), (51, 52, 53)]

In [99]:
(age, net_worth)= "24,$100000".split(",")
print(age)
print(net_worth)

24
$100000

In [100]:
def square_info(x):
    A=x**2
    P=4*x
    print ("Area and Perimeter:")
    return A,P
square_info(3)

Area and Perimeter:

(9, 12)

In [103]:
dict = {"c01":"Mombasa", "c47":"Nairobi", "c32":"Nakuru"}
dict

{'c01': 'Mombasa', 'c47': 'Nairobi', 'c32': 'Nakuru'}

In [104]:
dict["c42"]="Kisumu"
dict

{'c01': 'Mombasa', 'c47': 'Nairobi', 'c32': 'Nakuru', 'c42': 'Kisumu'}

In [105]:
even=[0,2,4,6,8,10,12,14,16,18,20]

In [106]:
for n in even:
    print(n)

0
2
4
6
8
10
12
14
16
18
20

In [107]:
for n in even:
    print(n, end =   " ")

0 2 4 6 8 10 12 14 16 18 20

In [109]:
x=0
while x <= 20:
    print(x, end = " ")
    x = x + 2

0 2 4 6 8 10 12 14 16 18 20

In [110]:
x=0
while x <= 20:
    print(x, end = " ")
    x += 2

0 2 4 6 8 10 12 14 16 18 20

In [111]:
range(10)

range(0, 10)

In [112]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [113]:
range(1,20,2)

range(1, 20, 2)

In [114]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [115]:
for n in range(10):
    print(2**n, end= " ")

1 2 4 8 16 32 64 128 256 512

In [119]:
for n in range(20):
    if n % 2 == 0:
        print(n, end = " ")
    else:
        print("odd", end = " ")

0 odd 2 odd 4 odd 6 odd 8 odd 10 odd 12 odd 14 odd 16 odd 18 odd

In [120]:
c=(10,15,20)

In [121]:
for item in c:
    print(item, end = " ")

10 15 20

In [122]:
for item in range(len(c)):
    print(c[item], end = " ")

10 15 20

In [130]:
def count(numbers):
    total = 0 ##list that deperts from 0
    for x in numbers:
        if x < 20:
            total +=1
    return total

In [131]:
list_f=(1,2,8,4,25,63,17,19,55,89,14,63,45,6,9,10)

In [132]:
count(list_f)

10

In [141]:
prices = {"kuku":600, "mbuzi":700, "pork":800}
quantity = {"kuku":5, "mbuzi":7, "pork":0}

money_spent=0
for i in prices:
    money_spent = money_spent + (prices[i] * quantity[i])
print (money_spent)

7900